*.tdc
*.exe
*.dll
*.gam
*.log
GameInfo.txt
!htmlt2.exe
!maketrx32.exe
!tadsrsc32.exe
!t2r32.exe
!tc32.exe
!stgs.exe
!libgcc_s_dw2-1.dll
!libstdc++-6.dll
!libwinpthread-1.dll
!Qt5Core.dll
sixpost/*.jpg
sixpost/*.html
sixpost/*.sm
sixpost/*.bak
sixpost/bin/*
!sixpost/res/titlePicture.jpg
game/audio_anounce_data/*
game/audio_anounce.aup